@media (max-width:2000px){
    .header{
        background-image:url('/images/test.png');
    }
    .header .image-section img{
    
        max-width: 100%;
        height:800px;
      }
      .header .text-section h1{
        font-size: 60px;
        margin:0 0 15px 0;
      }
      .header .text-section h3{
        font-size: 45px;
        line-height: 45px;
      }
      .header .text-section p{
        font-size: 25px;
      }
    
}
@media (max-width:1500px){
    .header{
        background-image:url('/images/test.png');
    }
    .header .image-section img{
    
    
        max-width: 100%;
        height:500px;
      }  
      .header .text-section h1{
        font-size: 50px;
        margin:0;
      }
      .header .text-section h3{
        font-size: 35px;
        line-height: 45px;
      }
      .header .text-section p{
        font-size: 18px;
      }
    
}

@media (max-width:1024px){
    .header{
        background-image:url('/images/Bg-1024.png');
    }
    .header {
        flex-direction: column;
        align-items: center;
      }
    
      .header .text-section {
        animation: slideInTop 1s forwards;
      }
      .header .text-section {
       
       width: 100%;
       
      }
      .header .image-section{
        width: 100%;
      }
    
      .header .image-section {
        animation: slideInBottom 1s forwards;
      }
      .header .image-section img{
        height:700px;
      }  
      .aboutus .cover-box .card-set .card{
        max-width: 12rem !important;
       }
}

@media (max-width:850px){
    .header{
        background-image:url('/images/Bg-850.png');
        background-size: cover;
    }
    .header .image-section img{
    
       
        max-width: 100%;
        height:700px;
      }
      .service .service-section{
        grid-template-columns: 300px 300px;
    }
    .service .service-boxes{
        grid-template-columns: 300px 300px;
    }
    .service .card {
        margin-bottom: 20px;    
    }
}
@media (max-width:800px){
    
    .header .image-section img{
    
       
        height:500px;
      }  
      .aboutus .cover-box .card-set{
        flex-direction: column;
        align-items: center;
       }
      .aboutus .cover-box .card-set .card{
        max-width: 100% !important;
       }
       .aboutus .cover-box {
        margin-bottom: 650px;
       }
}
@media (max-width: 550px) {
    .service .service-boxes {
      grid-template-columns: 300px;
      align-items: center;
    }
    .service .service-boxes .card{
      border: 2px solid red;
      height: auto;
    }
    .header{
      padding-top: 150px;
    }
    .header .text-section h1{
      font-size: 30px;
    }
    .header .text-section h3{
      font-size: 28px;
    }
    .aboutus h1 {
      font-size: 48px;
    }
    .aboutus .cover-box {
      height: 500px;
    }
    .aboutus .info-grid {
    grid-template-columns: none;
    gap:30px;
    }


     .aboutus .cover-box .img-card .card{
      width: 400px !important ;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 40%;
      left: 25%;
      background: none;
      border: none;
     }
}
@media (max-width:450px){
    .header{
        background-image:url('/images/Bg-450.png');
       
        
    }
    .header .image-section img{
        height:400px;
      } 
      .aboutus h1 {
        font-size: 30px;
      }
}
@media (max-width:375px){
    .header{
        background-image:url('/images/Bg-375.png');
    }
    .header .image-section img{
        height:350px;
    } 

}